.showImg{
  display: inline-block;
  padding-top: 180px;
  padding-left: 50px;
}

.showImg img {
  border: 3px solid #05386B;
  transition: ease 0.3s;
  display: inline-block;
  margin: 10px;
  width: 220px;
  height: 220px;
}

.showImg img:hover{
  position: relative;
  z-index: 2;
  transform: scale(1.10);
  transition: .3s;
  box-shadow: 0 0 15px 5px black;
}
